.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: var(--background);
}

.home {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 48px 24px;
}